@font-face { font-family: Oswald; src: url('source/fonts/Oswald-ExtraLight.ttf'); }

.Floor1, .Floor2{
  position: absolute;
}
.Floor1{
  opacity: 100;
  margin-top: 0%;
  transition: 1s;
  z-index: 2;
}
.Floor1.hideIt{
  opacity: 0;
  margin-top: 10%;
  transition: 1s;
  z-index: 1;
}
.Floor2{
  opacity: 0;
  margin-top: 10%;
}
.Floor2.showIt{
  opacity: 100;
  margin-top: 0%;
  transition: 1s;
  z-index: 3;
}
body{
  transform: scale(1);
  transition: 1s;
  width: 100%;
  font-family: Oswald;
}
.Floor1, .Floor2{
  position: absolute;
}
.DBLOCK, .EBLOCK, .ABLOCK, .BLOCK, .CBLOCK{
  position: absolute;
  transform-origin:center;
  transform: scale(1);
  transition: 1s;
}
.DBLOCK:hover, .EBLOCK:hover, .ABLOCK:hover, .BLOCK:hover, .CBLOCK:hover{
  transform-origin:center;
  transform: scale(1.3);
  transition: 1s;
}
.DBLOCK {
    top: 120px;
    left: 190px;
    width: 260px;
}
.EBLOCK {
    top: 200px;
    left: 320px;
    width: 220px;
}
.CBLOCK {
    top: 250;
    left: 560;
    width: 400;
}
.ABLOCK {
    top: 340px;
    left: 340;
    width: 260px;
}
.BLOCK {
    top: 340px;
    left: 20;
    width: 270px;
}
.DBLOCK2, .EBLOCK2, .ABLOCK2, .BLOCK2, .CBLOCK2{
  position: absolute;
  transform-origin:center;
  transform: scale(1);
  transition: 1s;
}
.DBLOCK2:hover, .EBLOCK2:hover, .ABLOCK2:hover, .BLOCK2:hover{
  transform-origin:center;
  transform: scale(1.3);
  transition: 1s;
}
.DBLOCK2 {
    top: 140;
    left: 250;
    width: 400px;
}
.EBLOCK2 {
    top: 145px;
    left: 380;
    width: 150px;
}
.ABLOCK2 {
    top: 470px;
    left: 470px;
    width: 370px;
}
.BLOCK2 {
    top: 465px;
    left: 0;
    width: 390px;
}
.SideView{
    transition: 1s;
    z-index: 20;
}
.SideView.hideIt{
  opacity: 0;
}
.SideView.showIt{
  opacity: 100;
}
.TopView{
  opacity: 0;
  z-index: 30;
}
.TopView.showIt{
  opacity: 100;
  transition: 1s;
}
.TopView.hideIt{
  opacity: 0;
}
.Buttons button{
  width: 97%;
  height: 9%;
  font-size: 84px;
  z-index: 10;
  border: none;
  background-size: 200%;
  background-position: 100% 50%;
  color: white;
  position: fixed;
  bottom: 0px;
  margin: 10px;
  border-radius: 30px;
  position: absolute;
}
.switchButton{
  background: linear-gradient(90deg, rgba(45,135,110,1) 0%, rgba(255,255,255,1) 50%, rgba(2,29,133,1) 100%);
  padding-left: 60%;
  transition: 1s;
  font-family: Oswald;
}
.switchButton.Second{
  background-position: 0% 50%;
  padding-left: 0%;
  padding-right: 60%;
}
.switchButton.goUpper{
  margin-bottom: 20%;
}
.goBackButton{
  text-align: center;
  background: linear-gradient(90deg, rgba(255,121,121,1) 0%, rgba(158,0,0,1) 100%);
  opacity: 0;
  font-family: Oswald;
}
.goBackButton.showIt{
  opacity: 100;
  transition: 2s;
}
.goBackButton.hideIt{
  opacity: 0;
  transition: 2s;
}
.AMarkUp{
  width: 300px;
  height: 300px;
  position: absolute;
  top: 250px;
  left: 330px;
  background-color: red;
  border-radius: 10;
  opacity: 0
}
.BMarkUp {
    width: 260px;
    height: 200px;
    position: absolute;
    top: 290px;
    left: 0px;
    background-color: green;
    border-radius: 10;
    opacity: 0;
    /* opacity: 100; */
}
.CMarkUp {
    width: 320px;
    height: 300px;
    position: absolute;
    top: 160px;
    left: 650px;
    background-color: #1c1c1c;
    border-radius: 10;
    opacity: 0;
}
.DMarkUp {
    width: 260px;
    height: 120px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: orange;
    border-radius: 10;
    opacity: 0;
}
.EMarkUp {
    width: 225px;
    height: 137px;
    position: absolute;
    top: 49px;
    left: 195px;
    background-color: steelblue;
    border-radius: 10;
    opacity: 0;
}
.A2MarkUp {
    width: 400px;
    height: 300px;
    position: absolute;
    top: 520px;
    left: 580px;
    background-color: red;
    border-radius: 10;
    opacity: 0;
}
.B2MarkUp {
    width: 430px;
    height: 300px;
    position: absolute;
    top: 520px;
    left: 0px;
    background-color: green;
    border-radius: 10;
    opacity: 0;
}
.D2MarkUp {
    width: 440px;
    height: 190px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: orange;
    border-radius: 10;
    opacity: 0;
}
.hint{
  animation: hintA;
  animation-duration: 4s;
}

@keyframes hintA{
  0% {opacity: 0;}
  25% {opacity: 0.2;}
  50% {opacity: 0;}
  75% {opacity: 0.2;}
  100% {opacity: 0;}
}
