.Floor1, .Floor2{
  position: absolute;
}

.Floor1{
  opacity: 100;
  margin-top: 0%;
  transition: 1s;
}

.Floor1.hideIt{
  opacity: 0;
  margin-top: 10%;
  transition: 1s;
}

.Floor2{
  opacity: 0;
  margin-top: 10%;
}

.Floor2.hideIt{
  opacity: 100;
  margin-top: 0%;
  transition: 1s;
}
