.BackGround{
  position: absolute;
}

.DBLOCK, .EBLOCK{
  position: absolute;
  transform-origin:center;
  transform: scale(1);
  transition: 1s;
}

.DBLOCK:hover, .EBLOCK:hover{
  transform-origin:center;
  transform: scale(1.3);
  transition: 1s;
}

.DBLOCK{
  top: 270px;
  left: 210px;
  width: 12%;
}

.EBLOCK{
  top: 340px;
  left: 300px;
  width: 10%;
}


.EBLOCK:hover a .label:after{
    content:'ASDSDASD';
}

.label:hover:after{
    content:'NEW';
}
